*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primera-imagen{
    background-image: url("../img/fondo1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
    
